.border{
    margin: 10px;
}

/* Táblázat alapstílus */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  table thead tr {
    background-color: #007bff; 
    color: white;
  }
  
  table th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
  }
  
  table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  table tbody tr:hover {
    background-color: #f1f9ff; 
  }

  table thead tr:hover {
    background-color: #0056b3;
  }
  
  /* Gomb stílus */
  button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: block;
  }